{% from "common.jinja" import search_tag_href, checkmark %}
{% macro render_reviewer_feedback(reviewer_feedback) %}
<div class='reviewer-feedback card'>
    <div class='card-header'>
        <h3 class='card-title'>
            <a href='{{reviewer_feedback.codebase_release_url}}'>
                {{ reviewer_feedback.codebase_release_title }}
            </a>
        </h3>
        <h4 class='card-subtitle mb-2 text-muted'>
            {{ reviewer_feedback.recommendation }}
        </h4>
    </div>
    <div class='card-body'>
        <h5 class='card-title'>Narrative documentation: {{ checkmark(reviewer_feedback.has_narrative_documentation) }}</h5>
        <p class='card-text'>
        {{ reviewer_feedback.narrative_documentation_comments }}
        </p>
    </div>
    <div class='card-body'>
        <h5 class='card-title'>Clean code: {{ checkmark(reviewer_feedback.has_clean_code) }}</h5>
        <p class='card-text'>
        {{ reviewer_feedback.clean_code_comments }}
        </p>
    </div>
    <div class='card-body'>
        <h5 class='card-title'>Runnable: {{ checkmark(reviewer_feedback.is_runnable) }}</h5>
        <p class='card-text'>
        {{ reviewer_feedback.runnable_comments }}
        </p>
    </div>
    <div class='card-body'>
        <h5 class='card-title'>Notes to author</h5>
        <p class='card-text'>
        {{ reviewer_feedback.notes_to_author }}
        </p>
    </div>
    <div class='card-body'>
        <h5 class='card-title'>Private communication</h5>
        <p class='card-text'>
        {{ reviewer_feedback.private_reviewer_notes }}
        </p>
    </div>
    <a class='card-link' href='{{reviewer_feedback.get_absolute_url()}}'>View</a>
</div>
{% endmacro %}

{% macro render_codebase_result(codebase) %}
    <div class="search-result">
        <div class="row">
            <div class="col-md-12 col-lg-3">
                <a href="{{ codebase.get_absolute_url() }}">
                {% if not codebase.featured_images.exists() %}
                    <img alt='No submitted images' src="holder.js/175x175?text={{'No submitted images'|urlencode}}" class="img-fluid img-thumbnail">
                {% else %}
                    {{ image(codebase.featured_images.first(), "fill-175x175", class="img-fluid img-thumbnail") }}
                {% endif %}
                </a>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="title">
                    <h1>
                        {% if codebase.peer_reviewed %}
                            <span class='badge bg-info'>Peer reviewed</span>
                        {% endif %}
                        <a href="{{ codebase.get_absolute_url() }}">{{ codebase.title }}</a>
                        {% if not codebase.live %}
                            <span class="badge bg-danger">Unpublished</span>
                        {% endif %}
                    </h1>
                    <small>
                        {% for codebase_contributor in codebase.all_contributors %}
                            {% set contributor_name=codebase_contributor.name %}
                            {% if codebase_contributor.user %}
                                <a class='badge bg-success contributor' href="{{ codebase_contributor.member_profile_url }}">
                                    {{ contributor_name }}
                                </a>
                            {% else %}
                                <a class='badge bg-white text-secondary contributor' href="?query={{contributor_name|urlencode}}">
                                    {{ contributor_name }}
                                </a>
                            {% endif %}
                        {% else %}
                            {# FIXME: this is a degenerate case, there should always be at least 1 contributor (the submitter) #}
                            no contributors listed 
                        {% endfor %}
                        |
                        {% if codebase.live %}
                            Published {{ format_date(codebase.first_published_at) }}
                            {% if codebase.first_published_at != codebase.last_published_on %}
                                | Last modified {{ format_date(codebase.last_published_on) }}
                            {% endif %}
                        {% else %}
                            Unpublished
                        {% endif %}
                    </small>
                </div>
                <div class="summary">
                    {{ markdown(codebase.summarized_description) }}
                </div>
                {% if codebase.tags.exists() %}
                    <div class="tag-list">
                        {% for tag in codebase.tags.all() %}
                            {{ search_tag_href(tag, category='codebases') }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
